body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	}

.jumbotron {
	font-family: 'Amatic SC', cursive;
	
}

#calendar {
	max-width: 650px;
	margin: 0 auto;
	}

#weatherForecast {
	text-align: center;
}

#map {
        width: 40%;
        height: 300px;
        float: right;
        margin-top: -320px;
        margin-right: 100px;
     }